<md-dialog aria-label="Activete Account">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Change password</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="chnagePasswordForm" novalidate layout="column">
      <md-input-container>
        <label>Old Password</label>
        <input ng-model="oldPassword" name="oldPassword" type="password" required/>

        <div ng-messages="chnagePasswordForm.oldPassword.$error"
             ng-show="chnagePasswordForm.oldPassword.$touched">
          <div ng-message="required">Old password is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>New Password</label>
        <input ng-model="newPassword" name="newPassword" type="password" required/>

        <div ng-messages="chnagePasswordForm.newPassword.$error"
             ng-show="chnagePasswordForm.newPassword.$touched">
          <div ng-message="required">New password is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Confirm new Password</label>
        <input ng-model="confirmPassword" name="confirmPassword" type="password" required/>

        <div ng-messages="chnagePasswordForm.confirmPassword.$error"
             ng-show="chnagePasswordForm.confirmPassword.$touched">
          <div ng-message="required">Confirm password is required.</div>
        </div>
      </md-input-container>
      <div class="md-actions" layout="row">
        <md-button ng-click="changePassword()" class="md-primary">
          Change
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
          Cancel
        </md-button>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>
