<md-dialog aria-label="Activete Account">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Forgot password</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="forgotPasswordForm" novalidate layout="column">
      <md-input-container>
        <label>Mobile Number</label>
        <input ng-model="phone" name="phone" required/>

        <div ng-messages="forgotPasswordForm.phone.$error"
             ng-show="forgotPasswordForm.phone.$touched">
          <div ng-message="required">Activation code is required.</div>
        </div>
      </md-input-container>
      <div class="md-actions" layout="row">
        <md-button ng-click="registerForm.$valid && resend()" class="md-primary">
          Reset
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
          Cancel
        </md-button>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>
