<div id="homeMainDiv" layout="column" layout-align="center" style="height: 100%">
  <div layout="row" layout-align="center">
    <md-card  ng-click="alert('sdf')">
      <img ng-src="images\car2.jpg" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Profile</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>

        <a href="#profile" ng-click='showMenuBar()'> See your profile!! </a>
      </md-card-content>
    </md-card>
    <span flex=15></span>
    <md-card >
      <img ng-src="images\car2.jpg" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">My rides</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row" flex layout-align="center">
    <md-card >
      <img ng-src="images\car2.jpg" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Recommendations</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
    <span flex=15></span>
    <md-card >
      <img ng-src="images\car2.jpg" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Others</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
