<div layout="column" layout-align="center" flex>
  <div layout="row" flex layout-align="center">
    <md-card flex=25 ng-click>
      <img ng-src="http://placekitten.com/601/300" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Profile</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
    <span flex=15></span>
    <md-card flex=25>
      <img ng-src="http://placekitten.com/601/300" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">My rides</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row" flex layout-align="center">
    <md-card flex=25>
      <img ng-src="http://placekitten.com/601/300" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Recommendations</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
    <span flex=15></span>
    <md-card flex=25>
      <img ng-src="http://placekitten.com/601/300" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Others</h2>
        <p>
          The titles of Washed Out's breakthrough song
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
