<div layout="row" style="padding-top: 20px">
  <div>
    <div>
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="images\car1.jpg" style="height:500px; margin:0 auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>

            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div layout="column" style="margin-left: 25px;">
    <div layout="row">
      <md-input-container >
        <label>From</label>
        <input type='text' ng-model='search'/>
      </md-input-container>
      <md-input-container>
        <label>To</label>
        <input type='text' ng-model='search'/>
      </md-input-container>
      <md-toolbar-item md-tools layout='row'>
        <a md-button md-default-theme href layout-align="center">Search</a>
      </md-toolbar-item>
    </div>
    <div>
      <md-list>
        <md-list-item class="md-3-line">
          <div class="md-list-item-text">
            <h3>ABC</h3>
            <h4>Marathalli to Majestic</h4>
            <p>Ride info</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
      <md-list>
        <md-list-item class="md-3-line" >
          <div class="md-list-item-text">
            <h3>XYZ</h3>
            <h4>Kundalahalli to Majestic</h4>
            <p>Ride info</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
