<div id="mainDiv" class="mainDivStyle" ng-controller="MenuCtrl">
  <div id="profileMenu" ng-click="rotateMenu($event)"><img src="images\profile27.png" style="height:50px;width:50px;"></div>
  <div id="homeMenu" ng-click="rotateMenu($event)"><img src="images\home78.png" style="height:50px;width:50px;"></div>
  <div id="myRidesMenu" ng-click="rotateMenu($event)"><img src="images\automobile.png" style="height:50px;width:50px;"></div>
  <div id="d" ng-click="rotateMenu($event)"><img src="images\call.png" style="height:50px;width:50px;"></div>
</div>
