<div id="myRidesDiv">
  <div  layout="row"  flex layout-align="center" style="padding-top: 20px;height:550px;">

    <md-card flex=25 ng-click>
      <img ng-src="http://placekitten.com/601/300" class="md-card-image" alt="profile pic">
      <md-card-content>
        <h2 class="md-title">My Ride Details</h2>

        <label for="rideModel">Model</label>
        <p id="rideModel" iname="rideModel">XXX</p>
        <label for="noOfides">No of rides</label>
        <p id="noOfides" name="noOfides">10</p>
      </md-card-content>
    </md-card>

  </div>

</div>
