<div id="profileDiv" onshow="triggerClick()">
  <div layout="row" flex layout-align="center" style="padding-top: 20px;height:550px;">
    <md-card flex=25 ng-click>
      <img ng-src="images\car2.jpg" class="md-card-image" alt="profile pic">
      <div>
        <div layout="row">
          <h2 class="md-title">User Details</h2>
        </div>
        <form  novalidate layout="column">
          <md-input-container>
            <label>User Name</label>
            <input ng-model="userName" name="userName" ng-model="userDetail.userProfile.userName" required/>
            <div ng-messages="loginForm.userName.$error"
                 ng-show="loginForm.userName.$touched">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <div layout="row">
            <label>Gender :</label>
            <md-radio-group ng-model="data.group1" layout="row">
              <md-radio-button value="M" class="md-primary">Male</md-radio-button>
              <md-radio-button value="F">Female</md-radio-button>
            </md-radio-group>
          </div>
          <md-button layout-align="center" ng-click=""><span flex="50">Save</span></md-button>
        </form>
      </div>
    </md-card>

    <md-card flex=25 ng-click>
      <img ng-src="images\car2.jpg" class="md-card-image" alt="profile pic">
      <md-card-content>
        <div layout="row">
          <h2 class="md-title">Vehicle Details</h2>
        </div>
        <label for="model">Model</label>

        <p id="model" iname="model">{{userDetail.vehicle.model}}</p>
        <label for="fare">Fare</label>

        <p id="fare" name="fare">{{userDetail.vehicle.fare}} Rs</p>

        <div layout="row">
          <md-button class="profileBtnStyle">Save</md-button>
        </div>
      </md-card-content>
    </md-card>

  </div>

</div>
