<div layout="row" style="padding-top: 20px">
  <md-card flex=25 ng-click>
    <img ng-src="http://placekitten.com/601/300" class="md-card-image" alt="profile pic">
    <md-card-content>
      <label for="userName">userName</label>

      <p name="userName">{{userDetail.userProfile.userName}}</p>
      <label for="gender">Gender</label>
      <p name="gender">{{userDetail.user.gender}}</p>
    </md-card-content>
  </md-card>
  <div layout="column">
    <div layout="row">
      <md-input-container>
        <label>From</label>
        <input type='text' ng-model='search'/>
      </md-input-container>
      <md-input-container>
        <label>To</label>
        <input type='text' ng-model='search'/>
      </md-input-container>
      <md-toolbar-item md-tools layout='row'>
        <a md-button md-default-theme href layout-align="center">Search</a>
      </md-toolbar-item>
    </div>
  </div>
</div>
